<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/WEB-INF/template.xhtml">
  <ui:define name="content">
    <f:metadata>
      <f:viewParam name="account" value="#{editAccount.account}"/>
    </f:metadata>

    <h:form>
      <h:panelGrid styleClass="table table-striped" columns="3">

        <h:outputLabel value="Name:" for="name"/>
        <h:inputText styleClass="form-control" id="name" value="#{editAccount.account.name}"/>
        <h:message for="name"/>

      </h:panelGrid>

      <h:commandButton styleClass="btn btn-primary" value="Save"
                       action="#{editAccount.edit()}"/>
      <h:button styleClass="btn btn-default ml-1" value="Return" outcome="dashboard.xhtml"/>
    </h:form>

  </ui:define>
</ui:composition>